<!DOCTYPE html>
<html lang="en-US">
	<script src="scripts/angular.min.js"></script>
	<body>
		<div data-ng-app="nameApp" data-ng-controller="nameController" >
			first name: <input type="text" data-ng-model="firstName" ><br>
			last name: <input type="text" data-ng-model="lastName" ><br><br>
			full name: {{ fullName() | uppercase }}<br><br>

			cost: <input type="number" data-ng-model="cost" ><br>
			quantity: <input type="number" data-ng-model="quantity" ><br><br>
			total: {{ cost * quantity | currency }}<br><br>

			<ul>
				<li data-ng-repeat="x in names | orderBy: 'country'">
				{{ x.name + ", " + x.country }}
				</li>
			</ul>
		</div>
		<script>
			var app = angular.module("nameApp", []);
			app.controller("nameController", function($scope){
				$scope.firstName = "tom";
				$scope.lastName = "mboya";
				$scope.fullName = function(){
					return $scope.lastName + ", " + $scope.firstName;
				}

				$scope.cost = 5.50;
				$scope.quantity = 20;

				$scope.names = [
				{ name: "lilian", country: "kenya" },
				{ name: "ken", country: "u.s." },
				{ name: "kim", country: "armenia" }
				];
			});
		</script>
	</body>
</html>