<!DOCTYPE html>
<html lang="en-US">
<script src="scripts/angular.min.js"></script>
<body>

<div data-ng-app="myApp" data-ng-controller="myCtrl" >
	first name: <input type="text" data-ng-model="firstName" ><br>
	last name: <input type="text" data-ng-model="lastName" ><br><br>
	full name: {{firstName + " " + lastName}}
</div>

<script>
	var app = angular.module("myApp", []);
	app.controller("myCtrl", function($scope){
		$scope.firstName = "brenda";
		$scope.lastName = "kimathi";
	});
</script>
</body>
</html>